- title "Building This Site"

- if admin?
  = link_to 'New Post', new_post_path

- @posts.each do |post|
  .postShow
    .sequence= sequence_display(post)
    .title= post_title(post)
    .date= post_date(post)
    -if admin?
      .admin
        = link_to 'Edit', edit_post_path(post.sequence)
        = link_to 'Destroy', post_url(post.sequence), :confirm => 'Are you sure?', :method => :delete
    .clear
